body{
    background-color: aliceblue;
    height: 100px;
    width: 100px;
}
div.one{
    border: 1px solid black;
    width: 1500px;
    height: 70px;
    text-align: center;
    background-color: darksalmon;   
}
div.two{
    border: 1px solid black;
    border-radius: 19px;
    width: 1500px;
    height: 70px;
    text-align: center;
    background-color: darksalmon;   
}
div.three{
    border: 1px solid black;
    border-radius: 19px;
    width: 1500px;
    height: 70px;
    text-align: center;
    background-color: darksalmon;   
}
div.grid{
    border: 1px solid black;
    border-radius: 19px;
    width: 1500px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    background-color: darksalmon;   
}
div.figma{
    border: 1px solid black;
    border-radius: 19px;
    width: 1500px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    background-color: darksalmon;   
}
div.figmas{
    border: 1px solid black;
    border-radius: 19px;
    width: 1500px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    background-color: darksalmon;   
}
div.figma1{
    border: 1px solid black;
    border-radius: 19px;
    width: 1500px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    background-color: darksalmon;   
}
div.toforzero{
    border: 1px solid black;
    border-radius: 19px;
    width: 1500px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    background-color: darksalmon;   
}

