body
{
    background-color: aliceblue;
}
table{
    background-color:darkkhaki;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50; 
    border: 3px solid;
    color: black;
}
.th.td{
    text-align: center; 
}
button{
    border-radius: 1px;
    margin-left:25%;
    background-color: cornflowerblue;

}
.h2{
    text-align: center;
    color: black;
}


