body{
  width: 900;
  overflow: hidden;
}
navbar,a{
    margin: 10px;
    padding: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}


navbar,button{
    background-color: cornflowerblue;
    height: 50px;
    width: 90px;
    position: relative;
    justify-content: center;
}
/* article{
    border: 1px solid black;
    float: left;
    padding: 99px;
    width: 20%;
    background-color: #f1f1f1;
    height: 400px;
    overflow: auto;
}
aside{
    border: 1px solid black;
    float: left;
    padding: 100px;
    width: 30%;
    background-color: pink;
    height: 100Px;
    overflow: scroll;
    
}
scroll{
    over
}
 */
 
 div.art1
 {
  width: 20%;
  float: left;
  height: 630px;
  background-color: plum;
  overflow-y: auto;
  border: 1px solid black;
}

 div.art3 {
     width: 20%;
     float: right;
     height: 630px;
     background-color:plum; 
     overflow-y: auto;
     border: 1px solid black;
 }

 /* div.art2 {
   background-color: gray ;
   border: 1px solid black;
   height: 500px;
   overflow: auto
 } */

 div.asd{
  
  height:200px;
  width:19.3%;
  float: left;
  text-align: center; 
  border:2px solid black;
  background-color: pink;
  overflow:auto;
  white-space:nowrap;
 }

 div.foot{
  
        /* padding: px; */
        background-color:olivedrab;
        width: 59%;
        height: 400px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
   
 }
 /* .container {
  max-width: 1600px;
  width: 200%;
  margin: 0 auto;
  } */
  